<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Go Game in Go</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="/static/favicon.ico" type="image/ico" />
  </head>
  <body>
		<h1>Go game written in Go</h1>
    <img class="logo" src="/static/go-gophers.png" />
		
    {{ if .IsLoggedIn }}
      <p>Hello, {{ .LoggedInUser.Name }}</p>

      <div id="root"></div>

      <p>Here are a list of all registered users
        <ul>
        {{ range .RegisteredUsers }}
          <li>{{ .Name }}</li>
        {{ end }}
        </ul>
      </p>
    {{ else }}
      <script
        authed="location.reload()" src="https://auth.turbio.repl.co/script.js">
      </script>
    {{ end }}

    <div class="author-creds">
      Built by <a href="https://tobilehman.com">Tobi Lehman</a>
    </div>
  </body>
</html>